<ion-header>
  <ion-toolbar>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-text>
      <h2>Ingrese su correo para recuperar la contraseña</h2>
    </ion-text>
    
    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input [(ngModel)]="correo" type="email" placeholder="Ingrese su correo"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="recuperarContrasena()">Enviar</ion-button>

    <!-- Enlace para regresar a la página de inicio de sesión -->
    <ion-text class="back-link">
      <a [routerLink]="['/home']">Volver al Inicio de Sesión</a>
    </ion-text>

    <!-- Mostrar mensaje de confirmación o error -->
    <ion-text color="success" *ngIf="successMsg">
      <p>{{ successMsg }}</p>
    </ion-text>
    <ion-text color="danger" *ngIf="errorMsg">
      <p>{{ errorMsg }}</p>
    </ion-text>
  </div>
</ion-content>
